<div class="mt-3 w-full flex flex-col items-center justify-center overflow-x-auto">
    <!-- Filtering inputs-->
    <div class="mb-4 items-center justify-center bg-emerald-200 dark:bg-gray-900">
        <div class="flex">
            <!-- Search input -->
            <div class="relative mt-1 mr-5">
                <label for="table-search-left" class="sr-only">Search</label>
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="text" id="table-search-left"
                    class="block w-50 pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Search" >
            </div>

            <!-- Creation of new club -->
            <div *hasAnyRole="['Admin']" class="flex justify-between ml-20">
                <button class="bg-green-600 hover:bg-green-400 text-white font-bold py-2 px-4 rounded">
                    <a class="text-white dark:text-white hover:underline" routerLink="/create-bus">Create club</a>
                </button>
            </div>
        </div>
    </div>

    <!-- clubs table -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="h-2/3 text-sm text-left rtl:text-right text-blue-100 dark:text-blue-100">
            <thead class="text-xs text-white uppercase bg-green-600 dark:text-white">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Stadium
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Coach
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Type
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Squad size
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="(clubs$ | async) as clubs; else loading">
                    @for (item of clubs; track $index)
                    {
                    <tr class="bg-green-500 border-b border-green-300 hover:bg-green-400">
                        <th scope="row" class="px-6 py-4 font-medium text-blue-50 whitespace-nowrap dark:text-blue-100">
                            {{item.name}}
                        </th>
                        <td class="px-6 py-4">
                            {{item.stadiumName}}
                        </td>
                        <td class="px-6 py-4">
                            {{item.headCoachName}}
                        </td>
                        <td class="px-6 py-4">
                            {{item.type}}
                        </td>
                        <td class="px-6 py-4">
                            {{item.playersCount}}
                        </td>
                    </tr>
                    }
                </ng-container>
                <ng-template #loading>
                    <tr>
                        <td colspan="12">
                            <div class="flex justify-center">
                                <mat-spinner/>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <mat-paginator [length]="totalItems$ | async" [showFirstLastButtons]="true" [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 50]" [pageIndex]="currentPage" (page)="pageChanged($event)" />
</div>