<h1 ngForm class="mt-5 text-center font-bold text-2xl">Login</h1>
<form ngForm [formGroup]="loginForm" autocomplete="off" novalidate class="max-w-sm mx-auto" (ngSubmit)="onSubmit(loginForm.value)">
  <div class="mb-5">
    <label for="username" formControlName class="form-label">Username*</label>
    <input type="text" id="username" name="username" formControlName="username" class="form-input" placeholder="rodrigo123" required>
  </div>
  <div class="mb-5">
    <label for="password" class="form-label">Password*</label>
    <input type="password" formControlName="password" name="userPassword" id="password" class="form-input" required >
  </div>
  <div class="flex">
    <button type="submit" class="submit-btn mr-3">Submit</button>
    <button class="submit-btn" (click)="onCancel()">Cancel</button>
  </div>
</form>
